version: '2'
services:
  web:
    build: .
    ports:
      - 5000:5000
    volumes:
      - .:/code
    environment:
      APP_ENV: local
      DOMAIN_NAME: 127.0.0.1
      MONGODB_USERNAME: close-clothes_user
      MONGODB_PASSWORD: close-clothes_password
      MONGODB_DATABASE_NAME: close-clothes
      MONGODB_HOST: mongodb
  redis:
    image: redis
  mongodb:
    image: mongo:4.2.6
    environment:
      MONGO_INITDB_ROOT_USERNAME: mongodb_root_user
      MONGO_INITDB_ROOT_PASSWORD: mongodb_root_password
      MONGODB_DATA_DIR: /data/db
      MONDODB_LOG_DIR: /dev/null
    volumes:
      - ./data/db:/data/db
  mongo-express:
    image: mongo-express
    ports:
      - 8081:8081
    links:
      - 'mongodb:mongo'
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: mongodb_root_user
      ME_CONFIG_MONGODB_ADMINPASSWORD: mongodb_root_password
