<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>close-clothes</title>
</head>
<body>
{% block content %}
    <form action="/role" method="post">
        <input type="text" name="role_name" size="6">
        {% for role_policy in role_policies %}
            <td><input type="checkbox" name="role_policy" value="{{ role_policy.num_role_policy }}">{{ role_policy.role_policy_name }}</td>
        {% endfor %}
        <button>create role</button>
    </form>
{% endblock %}
</body>
</html>