<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>close-clothes</title>
</head>
<body>
{% block content %}
    <form action="/role" method="post">
        <input type="text" name="role_name" size="6">
        <td><input type="checkbox" name="role_policy" value="{{ RolePolicy.OWNER }}">&nbsp;owner&nbsp;</td>
        <td><input type="checkbox" name="role_policy" value="{{ RolePolicy.ADMIN }}">&nbsp;admin&nbsp;</td>
        <td><input type="checkbox" name="role_policy" value="{{ RolePolicy.WRITE }}">&nbsp;write&nbsp;</td>
        <td><input type="checkbox" name="role_policy" value="{{ RolePolicy.OWNER }}">&nbsp;read&nbsp;</td>
        <button>create role</button>
    </form>
{% endblock %}
</body>
</html>