<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>close-clothes</title>
</head>
<body>
{% block content %}
    {{ counter }}
    <form action="/user" method="post">
        <div>
            <input type="text" name="user_name" size="6">
            <select name="role_name">
                {% for role in roles %}
                    <option value="{{ role.role_name }}">{{ role.role_name }}</option>
                {% endfor %}
            </select>
            <button>join us!</button>
        </div>
    </form>
{% endblock %}
</body>
</html>